<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        My name's Lucas, I'm a Computer Science undegrad.
        I got tired of looking at the MIPS Reference Card
        and spending more time trying to understand what I was
        looking at than actually getting what I wanted.
        This project was born out of that frustration.
      </section>
      <footer class="modal-card-foot">
        <button class="modal-close is-large" aria-label="close" id="close_about"></button>
      </footer>
    </div>
  </div>
