<table class="table has-text-centered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mnemonic</th>
            <th>Format</th>
            <th>Operation</th>
            <th>Opcode</th>
            <th>Funct</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Add</th>
            <th>add</th>
            <th>R</th>
            <th>rd = rs + rt</th>
            <th>00 0000</th>
            <th>20</th>
        </tr>

        <tr>
            <th>Add Immediate</th>
            <th>addi</th>
            <th>I</th>
            <th>rt = rs + Signal Extended Immediate</th>
            <th>00 0000</th>
            <th>8</th>
        </tr>

        <tr>
            <th>Add Imm. Unsigned</th>
            <th>addiu</th>
            <th>I</th>
            <th>rt = rs + Signal Extended Immediate</th>
            <th>8</th>
            <th>--</th>
        </tr>

        <tr>
            <th>Add Unsigned</th>
            <th>addu</th>
            <th>R</th>
            <th>rd = rs + rt</th>
            <th>9</th>
            <th>--</th>
        </tr>

        <tr>
            <th>And</th>
            <th>and</th>
            <th>R</th>
            <th>rd = rs & rt</th>
            <th>00 0000</th>
            <th>24</th>
        </tr>

        <tr>
            <th>And Immediate</th>
            <th>andi</th>
            <th>I</th>
            <th>rt = rs & ZeroExtImm</th>
            <th>C</th>
            <th>--</th>
        </tr>

    </tbody>
</table>
