<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="img/cpu_icon.png" width="50" height="50">

    <a role="button" id="navbar_burger" class="navbar-burger" aria-label="menu" aria-expanded="true"
      data-target="mips_navbar" onclick="openBurger('mips_navbar', 'navbar_burger')">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mips_navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#instruction_set"
        onclick="showElement_('instruction-set-block'); hideElement('opcode-reference-block'); hideElement('registers-block'); hideElement('instruction-format-block'); hideElement('converter-block');  hideElement('range-calculator-block');">
        Instruction Set
      </a>

      <a class="navbar-item" href="#opcode_ref"
        onclick="showElement_('opcode-reference-block'); hideElement('instruction-set-block'); hideElement('registers-block'); hideElement('instruction-format-block'); hideElement('converter-block');  hideElement('range-calculator-block');">
        OPCode Reference
      </a>

      <a class="navbar-item" href="#instruction_converter"
        onclick="showElement_('converter-block'); hideElement('instruction-set-block'); hideElement('opcode-reference-block'); hideElement('registers-block'); hideElement('instruction-format-block');  hideElement('range-calculator-block);">
        Instruction Converter
      </a>

      <a class="navbar-item" href="#instruction_format"
        onclick="showElement_('instruction-format-block'); hideElement('opcode-reference-block'); hideElement('instruction-set-block'); hideElement('registers-block'); hideElement('converter-block');  hideElement('range-calculator-block');">
        Instruction Formats
      </a>

      <a class="navbar-item" href="#range_calculator"
        onclick="showElement_('range-calculator-block'); hideElement('instruction-format-block'); hideElement('opcode-reference-block'); hideElement('instruction-set-block'); hideElement('registers-block');">
        Range Calculator
      </a>

      <a href="#registers" class="navbar-item"
        onclick="showElement_('registers-block'); hideElement('opcode-reference-block'); hideElement('instruction-set-block'); hideElement('instruction-format-block'); hideElement('converter-block'); hideElement('range-calculator-block');">
        Registers
      </a>

      <a class="navbar-item">
        Memory Allocation
      </a>

      <a class="navbar-item">
        Exception Codes
      </a>

      <hr class="navbar-divider">
      <a class="navbar-item" onclick="openModal('about_modal')">
        About
      </a>
    </div>
  </div>
</nav>
