<table class="table has-text-centered is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Use</th>
            <th>Preserved Across a Call?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>$zero</th>
            <th>0</th>
            <th>The Constant value 0</th>
            <th>N.A</th>
        </tr>

        <tr>
            <th>$at</th>
            <th>1</th>
            <th>Assembly Temporary</th>
            <th>No</th>
        </tr>

        <tr>
            <th>$v0 - $v1</th>
            <th>2 - 3</th>
            <th>Values for Function Results and Expression Evaluations</th>
            <th>No</th>
        </tr>

        <tr>
            <th>$a0 - $a3</th>
            <th>4 - 7</th>
            <th>Arguments</th>
            <th>No</th>
        </tr>

        <tr>
            <th>$t0 - $t7</th>
            <th>8 - 15</th>
            <th>Temporaries</th>
            <th>No</th>
        </tr>

        <tr>
            <th>$s0 - $s7</th>
            <th>16 - 23</th>
            <th>Saved Temporaries</th>
            <th>Yes</th>
        </tr>

        <tr>
            <th>$t8 - $t9</th>
            <th>24 - 25</th>
            <th>Temporaries</th>
            <th>No</th>
        </tr>

        <tr>
            <th>$k0 - $k1</th>
            <th>26 - 27</th>
            <th>Reserved for OS Kernel</th>
            <th>No</th>
        </tr>

        <tr>
            <th>$gp</th>
            <th>28</th>
            <th>Global Pointer</th>
            <th>Yes</th>
        </tr>

        <tr>
            <th>$sp</th>
            <th>29</th>
            <th>Stack Pointer</th>
            <th>Yes</th>
        </tr>

        <tr>
            <th>$fp</th>
            <th>30</th>
            <th>Frame Pointer</th>
            <th>Yes</th>
        </tr>

        <tr>
            <th>$ra</th>
            <th>31</th>
            <th>Return Address</th>
            <th>No</th>
        </tr>
    </tbody>
  </table>
