<table class="table has-text-centered is-fullwidth is-bordered" id="instruction-format-table"
  data-name="instruction-table">
  <b>R Format</b>
  <thead>
    <tr>
      <th style="width: 18.75%;">OpCode <sub>31:26</sub></th>
      <th style="width: 16.625%;">rs <sub>25:21</sub></th>
      <th style="width: 16.625%;">rt <sub>21:16</sub></th>
      <th style="width: 16.625%;">rd <sub>15:11</sub></th>
      <th style="width: 16.625%;">shamt <sub>10:6</sub></th>
      <th style="width: 18.75%;">Funct <sub>5:0</sub></th>
    </tr>
  </thead>
</table>

<table class="table has-text-centered is-fullwidth is-bordered" id="instruction-format-table"
  data-name="instruction-table">
  <b>I Format</b>
  <thead>
    <tr>
      <th style="width: 18.75%;">OpCode <sub>31:26</sub></th>
      <th style="width: 16.625%;">rs <sub>25:21</sub></th>
      <th style="width: 16.625%;">rt <sub>21:16</sub></th>
      <th>Immediate <sub>15:0</sub></th>
    </tr>
  </thead>
</table>

<table class="table has-text-centered is-fullwidth is-bordered" id="instruction-format-table"
  data-name="instruction-table">
  <b>J Format</b>
  <thead>
    <tr>
      <th style="width: 18.75%;">OpCode <sub>31:26</sub></th>
      <th>Address <sub>25:0</sub></th>
    </tr>
  </thead>
</table>

<table class="table has-text-centered is-fullwidth is-bordered" id="instruction-format-table"
  data-name="instruction-table">
  <b>FR Format</b>
  <thead>
    <tr>
      <th style="width: 18.75%;">OpCode <sub>31:26</sub></th>
      <th style="width: 16.625%;">fmt <sub>25:21</sub></th>
      <th style="width: 16.625%;">ft <sub>20:16</sub></th>
      <th style="width: 16.625%;">fs <sub>15:11</sub></th>
      <th style="width: 16.625%;">fd <sub>10:6</sub></th>
      <th style="width: 18.75%;">funct <sub>5:0</sub></th>
    </tr>
  </thead>
</table>

<table class="table has-text-centered is-fullwidth is-bordered" id="instruction-format-table"
  data-name="instruction-table">
  <b>FI Format</b>
  <thead>
    <tr>
      <th style="width: 18.75%;">OpCode <sub>31:26</sub></th>
      <th style="width: 16.625%;">fmt <sub>25:21</sub></th>
      <th style="width: 16.625%;">ft <sub>20:16</sub></th>
      <th>Immediate <sub>15:0</sub></th>
    </tr>
  </thead>
</table>
