<div class="modal" id="about_modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">About Me</p>
      <button class="delete" id="close_about" aria-label="close" onclick="closeModal('about_modal')"></button>
    </header>
    <section class="modal-card-body">
      <p>My name's Lucas, I'm a Computer Science undegrad.
        I got tired of looking at the MIPS Reference Card
        and spending more time trying to understand what I was
        looking at than actually getting what I wanted.
        This project was born out of that frustration.</p>

      <br>
      <p>I'm open source! You can make MIPS IDC better by
        <a href="https://github.com/lzacchi/mips_idc" target="_blank">contributing
        </a>
      </p>

      <br>
      <p>
        This website is free and open source. It will never have ads.
      </p>

      <p>
        If you liked it or if it has been useful, please consider
        supporting my work.
      </p>

    </section>
    <footer class="modal-card-foot">
      <!-- Each button in a column to assure proper spacing -->

      <div class="columns">

        <div class="column is-one-third">
          <a href="https://github.com/lzacchi" target="_blank">
            <button class="button is-rounded">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </button>
          </a>
        </div>

        <div class="column is-one-third">
          <a href="https://twitter.com/lzacch" target="_blank">
            <button class="button is-info is-rounded">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>@lzacch</span>
            </button>
          </a>
        </div>

        <div class="column is-one-third">
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="VVXEFWCEBQMMU" />
            <input type="hidden" name="item_name"
              value="iMIPS is free and open source. That means it will never have ads. If you like it, please consider donating to support my work" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
              name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_BR/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>

      </div>

    </footer>

  </div>

</div>
