<div class="modal" id="donate_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Supporting my work</p>
            <button class="delete" id="close_donate" aria-label="close" onclick="closeModal('donate_modal')"></button>
        </header>
        <section class="modal-card-body">
            <p>
                This website is free and open source. It will never have ads.
            </p>

            <p>
                If you liked it or if it has been useful, please consider
                supporting my work.
            </p>

        </section>
        <footer class="modal-card-foot">
            <!-- Each button in a column to assure proper spacing -->

            <div class="columns">

                <div class="column">
                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="business" value="VVXEFWCEBQMMU" />
                        <input type="hidden" name="item_name" value="iMIPS is free and open source. That means it will never have ads. If you like it, please consider donating to support my work" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_BR/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </div>

                <div class="column">
                    <!-- SECOND BUTTON HERE -->
                </div>
            </div>

        </footer>

    </div>

</div>

<!-- Link:
https://www.paypal.com/donate?business=VVXEFWCEBQMMU&item_name=MIPS+IDC+is+free+and+open+source.+If+you+like+my+work%2C+please+consider+contributing.&currency_code=USD&amount=2
-->
